/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2019, 01:51:42 AM
    Author     : Usuario
*/
.myButton {
	box-shadow: -1px 8px 10px -8px #b54b3a;
	background-color:#a73f2d;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:17px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7a2a1d;
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}

